@model Padaria.Models.ViewModels.EncomendaViewModel
@{
    ViewData["Title"] = "Nova Encomenda";
    

 
}



<div class="container mt-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <form asp-action="AddProduto" class="mb-4">
        <div class="d-flex align-items-center">
            <input id="codigoInput" name="codigo" type="text" class="form-control me-2" placeholder="Código do produto" style="width: 200px;" autofocus />
            <span class="text-danger ms-2">@TempData["ErrorMessage"]</span>
            <button id="adicionarBtn" class="btn btn-info" type="submit" style="display:none;">Adicionar</button>
        </div>
    </form>

    @if (Model.Encomenda.Produtos.Count > 0)
    {
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Produto</th>
                    <th>Valor Unitário</th>
                    <th>Total</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Encomenda.Produtos)
                {
                    <form asp-action="ChangeQuantity" method="post">
                    <tr>
                        <td>
                            <input name="Quantidade" class="form-control" value="@item.Quantidade" style="width: 80px;" />
                            <input type="hidden" name="ProdutoId" value="@item.ProdutoId" />
                            <input type="hidden" name="Id" value="@item.Id" />
                            <input type="hidden" name="ValorUnitario" value="@item.ValorUnitario" />
                            <input type="hidden" name="ContaId" value="@item.ContaId" />
                        </td>
                        <td>@Html.DisplayFor(modelitem => item.Produto.Nome)</td>
                        <td>@Html.DisplayFor(modelitem => item.ValorUnitario)</td>
                        <td>@Html.DisplayFor(modelitem => item.Total)</td>
                        
                    </tr>
                    </form>
                }
            </tbody>
        </table>
    }

    @if (Model.Encomenda.Produtos.Any())
    {
        <form asp-action="Finish" class="mt-4">

            <div class="mb-3">
                <strong style="font-size: 1.5rem; font-weight: bold;">
                    Valor a receber: R$ @((Model.Encomenda.ValorTotal - (Model.Encomenda.ValorAntecipado)).ToString("F2"))
                </strong>

            </div>
            <div class="row mb-4">
                <div class="col-md-8">
                    <div class="d-flex align-items-center">
                        @if (Model.Encomenda.Status == Padaria.Models.Enums.StatusConta.NaoFinalizado)
                        {
                            <select id="pessoa" asp-for="@Model.Encomenda.ClienteId" class="form-control" placeholder="Escolha uma pessoa">

                                <option value="">Selecione...</option>
                            </select>
                            <button type="button" class="btn btn-outline-primary ms-2" data-bs-toggle="modal" data-bs-target="#CriarEncomenda">Adicionar Cliente</button>
                        }
                        else
                        {
                            <label>Cliente: @Model.Encomenda.Cliente.Nome</label>
                            <input type="hidden" asp-for="@Model.Encomenda.ClienteId" />
                        }
                        
                    </div>

                   
                    <div class="text-danger mt-1">
                        <span asp-validation-for="@Model.Encomenda.ClienteId"></span>
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <label asp-for="@Model.Encomenda.Data" class="form-label">Data de Entrega:</label>
                @if (Model.Encomenda.Status == Padaria.Models.Enums.StatusConta.NaoFinalizado)
                {
                    <input asp-for="@Model.Encomenda.Data" class="form-control" value ="" style="width: 200px;"/>
                }
                else
                {
                    <input asp-for="@Model.Encomenda.Data" class="form-control" style="width: 200px;" />
                }

                    <span asp-validation-for="@Model.Encomenda.Data" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.Encomenda.Obs" class="form-label">Observação:</label>
                <input asp-for="@Model.Encomenda.Obs" class="form-control" placeholder="Observação (opcional)" />
                <span asp-validation-for="@Model.Encomenda.Obs" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="@Model.Encomenda.ValorAntecipado" class="form-label">Valor Antecipado (R$):</label>

                <input type="text" asp-for="@Model.Encomenda.ValorAntecipado" id="valorParcial" class="form-control" value="@Model.Encomenda.ValorAntecipado.ToString("F2")" style="width: 150px;" />
                <span asp-validation-for="@Model.Encomenda.ValorAntecipado" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Encomenda.Desconto" class="form-label">Desconto (R$):</label>

                <input type="text" asp-for="@Model.Encomenda.Desconto" id="desconto" class="form-control" value="@Model.Encomenda.Desconto.ToString("F2")" style="width: 150px;" />
                <span asp-validation-for="@Model.Encomenda.Desconto" class="text-danger"></span>
            </div>

            

            <button type="submit" class="btn btn-success">Finalizar</button>
        </form>
    }

    <div class="modal fade" id="CriarEncomenda" tabindex="-1" aria-labelledby="CriarEncomendaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="CreateClient">
                        <div class="mb-3">
                            <label class="form-label">Nome:</label>
                            <input name="Nome" class="form-control" placeholder="Nome do cliente" style="width: 100%;" />
                            <span asp-validation-for="@Model.Encomenda.Cliente.Nome" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Contato:</label>
                            <input name="Contato" class="form-control" id="telefone" placeholder="Número do cliente" style="width: 100%;" />
                            <span asp-validation-for="@Model.Encomenda.Cliente.Contato" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/selectize/dist/css/selectize.default.css">
    <script src="https://cdn.jsdelivr.net/npm/selectize/dist/js/standalone/selectize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#telefone').mask('(00) 00000-0000');
            $('#valorParcial').mask('000.000.000.000.000,00', { reverse: true });
            $('#desconto').mask('000.000.000.000.000,00', { reverse: true });

            $('#codigoInput, .quantidadeInput').on('keypress', function (e) {
                if (e.key === 'Enter') {
                    e.preventDefault();
                    $('#adicionarBtn').click();
                }
            });
        });
    </script>

    <script>
        $('#pessoa').selectize({
            create: false   ,  // Permite criar novos itens
            load: function (query, callback) {
                // Realiza a pesquisa via AJAX
                $.ajax({
                    url: '@Url.Action("BuscarPessoas", "Encomendas")',
                    data: { term: query },
                    type: 'GET',
                    dataType: 'json',
                    success: function (res) {
                        callback(res.map(item => ({ value: item.id, text: item.text })));
                    },
                    error: function () {
                        callback([]);
                    }
                });
            },
            placeholder: 'Digite para buscar...',
            closeAfterSelect: true, 
        });

        
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.validate.unobtrusive/3.0.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="@Url.Content("~/js/jquery.validate.pt-BR.js")"></script>
}
