@model Padaria.Models.ViewModels.EncomendaViewModel

@{
    ViewData["Title"] = "Nova Encomenda";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <form asp-action="AddProduto">
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="clienteInput" class="form-label">Cliente:</label>
                <div class="input-group mb-3">
                    <input id="clienteInput" name="cliente" type="text" class="form-control" placeholder="Digite o nome do cliente" />
                    <select asp-for="@Model.Cliente.Id" asp-items="@(new SelectList(Model.Clientes, "Id", "Nome"))" class="form-select">
                        <option value="">Selecione o cliente</option>
                    </select>
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#CriarEncomenda">
                        Adicionar
                    </button>
                </div>
                <span asp-validation-for="@Model.Cliente.Id" class="text-danger"></span>
            </div>
            <div class="col-md-6 text-end">
                <button type="button" formaction="@Url.Action("SearchCliente", "Encomendas")" class="btn btn-secondary" style="display: none;">Buscar Cliente</button>
            </div>
        </div>

        <div class="mb-4">
            <label for="codigoInput" class="form-label">Produto:</label>
            <div class="input-group">
                <input id="codigoInput" name="codigo" type="text" class="form-control" placeholder="Código do produto" />
                <button id="adicionarBtn" class="btn btn-info" type="submit">Adicionar</button>
            </div>
        </div>

        @if (Model.ProdutosConta.Count > 0)
        {
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Quantidade</th>
                        <th>Produto</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ProdutosConta.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="text" asp-for="@Model.ProdutosConta[i].Quantidade" value="@Model.ProdutosConta[i].Quantidade" class="form-control quantidadeInput" />
                            </td>
                            <td>@Html.DisplayFor(p => p.ProdutosConta[i].Produto.Nome)</td>
                            <td>@Html.DisplayFor(p => p.ProdutosConta[i].Total)</td>
                        </tr>
                        <input type="hidden" asp-for="@Model.ProdutosConta[i].ProdutoId" value="@Model.ProdutosConta[i].ProdutoId" />
                    }
                </tbody>
            </table>
        }
    </form>

    @if (Model != null && ViewBag.Total != null)
    {
        <form asp-action="Create">
            <div class="mb-3">
                <label asp-for="@Model.Encomenda.Data" class="form-label">Entrega:</label>
                <input asp-for="@Model.Encomenda.Data" class="form-control" />
                <span asp-validation-for="@Model.Encomenda.Data" class="text-danger"></span>
                <input type="hidden" asp-for="@Model.Encomenda.DataPedido" value="@DateTime.Now" />
                <input type="hidden" asp-for="@Model.Encomenda.MetodoPagamento" value="0" />
                <input type="hidden" asp-for="@Model.Encomenda.Status" value="0" />
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Encomenda.Obs" class="form-label">Observação:</label>
                <input asp-for="@Model.Encomenda.Obs" class="form-control" placeholder="Insira alguma observação, se necessário" />
                <span asp-validation-for="@Model.Encomenda.Obs" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Encomenda.ValorAntecipado" class="form-label">Valor Antecipado:</label>
                <input type="text" asp-for="@Model.Encomenda.ValorAntecipado" id="valorAntecipado" class="form-control" placeholder="0,00" />
                <span asp-validation-for="@Model.Encomenda.ValorAntecipado" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label">Total:</label>
                <input type="text" asp-for="@Model.Encomenda.ValorTotal" id="total" class="form-control" value="@ViewBag.Total.ToString("F2")" readonly />
            </div>

            @for (int i = 0; i < Model.ProdutosConta.Count; i++)
            {
                <input type="hidden" asp-for="@Model.Encomenda.Produtos[i].Quantidade" value="@Model.ProdutosConta[i].Quantidade" />
                <input type="hidden" asp-for="@Model.Encomenda.Produtos[i].ProdutoId" value="@Model.ProdutosConta[i].ProdutoId" />
                <input type="hidden" asp-for="@Model.Encomenda.Produtos[i].Total" value="@Model.ProdutosConta[i].Total" />
                <input type="hidden" asp-for="@Model.Encomenda.Cliente.Id" value="@Model.Cliente.Id" />
            }

            <button type="submit" class="btn btn-success">Finalizar</button>
        </form>
    }

    <div class="modal fade" id="CriarEncomenda" tabindex="-1" aria-labelledby="CriarEncomendaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Adicionar Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Create" asp-controller="Clientes">
                        <div class="mb-3">
                            <label asp-for="@Model.Cliente.Nome" class="form-label">Nome:</label>
                            <input asp-for="@Model.Cliente.Nome" class="form-control" placeholder="Digite o nome do cliente" />
                            <span asp-validation-for="@Model.Cliente.Nome" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.Cliente.Contato" class="form-label">Contato:</label>
                            <input asp-for="@Model.Cliente.Contato" class="form-control" id="telefone" placeholder="Digite o número do cliente" />
                            <span asp-validation-for="@Model.Cliente.Contato" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Salvar alterações</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#telefone').mask('(00) 00000-0000');
            $('#total').mask('000.000.000.000.000,00', { reverse: true });
            $('#valorAntecipado').mask('000.000.000.000.000,00', { reverse: true });

            // Handle Enter key for adding products
            $('#codigoInput, .quantidadeInput').on('keypress', function (e) {
                if (e.key === 'Enter') {
                    e.preventDefault(); // Prevent form submission
                    $('#adicionarBtn').click(); // Trigger the add button
                }
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}