@model Padaria.Models.ViewModels.ProdutoFormViewModel

@{
    ViewData["Title"] = "Home Page";
    
    
}



<form asp-action="Index">

<div class="row mb-4">
    <label for="codigo" class="col-sm-2 col-form-label">codigo</label>
    <div class="col-sm-10">
            <input type="text" name="codigo" class="form-control" autofocus />
    </div>
        
</div>


    @if(Model != null){

        <table class="table">
            <thead>
                <tr>
                    <th>Quantidade</th>
                    <th>Produto</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.Produtos.Count; i++)
                {
                    <tr>
                        <td>
                            <input type="number" name="[@i].Quantidade" value="@Model.Produtos[i].Quantidade" class="form-control form-control-sm" style="width: 60px;" />
                        </td>
                        <td>
                            <input type="hidden" name="[@i].Produto.Codigo" value="@Model.Produtos[i].Produto.Codigo" />
                            <input type="hidden" name="[@i].Produto.Id" value="@Model.Produtos[i].Produto.Id" />
                            <input type="hidden" name="[@i].Produto.Nome" value="@Model.Produtos[i].Produto.Nome" />
                        </td>
                        <td>
                            <label class="col-form-label">@Model.Produtos[i].Produto.Nome</label>
                            
                        </td>
                        <td>
                            <label class="col-form-label">R$ @Model.ValorTotalProduto(i).ToString("F2")</label>
                            <input type="hidden" name="[@i].Produtos.Total" value="@Model.ValorTotalProduto(i)" />
                            <input type="hidden" name="[@i].Produto.Preco" value="@Model.Produtos[i].Produto.Preco" />
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <footer>
            <label for="Valor" class="col-sm-2 col-form-label">@Model.ValorTotal().ToString("F2")</label>
        </footer>

        
    }



    <button type="submit" value="Create" class="btn btn-primary"></button>
    <button type="" formaction="@Url.Action("Create", "Contas")" class="btn btn-secondary" id="btnFinalizar">Finalizar</button>
</form>


@section Scripts {

    <script>
        document.addEventListener('keydown', function (event) {
            if (event.key === 'F1') {
                event.preventDefault(); // Evita que a ajuda padrão do navegador seja exibida
                document.getElementById('btnFinalizar').click(); // Simula o clique no botão "Finalizar"
            }
        });
    </script>



}



    
