@model Padaria.Models.Produto

@{
    ViewData["Title"] = "Detalhes do Produto";
}

<h1 class="mt-4 mb-4 text-center">@ViewData["Title"]</h1>

<div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0">Produto: @Html.DisplayFor(model => model.Nome)</h4>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-sm-3">
                <strong>Numero:</strong>
            </div>
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
                <strong>Código:</strong>
            </div>
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.Codigo)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
                <strong>Preço:</strong>
            </div>
            <div class="col-sm-9">
                R$ @Html.DisplayFor(model => model.ValorUnitario)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
                <strong>Tipo:</strong>
            </div>
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.Tipo)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
                <strong>Disponível:</strong>
            </div>
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.QntDisponiveis)
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-3">
                <strong>Vendas:</strong>
            </div>
            <div class="col-sm-9">
                @Html.DisplayFor(model => model.QntVendidas)
            </div>
        </div>
    </div>

    <div class="card-footer text-end">
        
        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id">
            <i class="bi bi-trash"></i> Excluir
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-arrow-left-circle"></i> Voltar
        </a>
    </div>
</div>
